.bookingBtn {
  position: relative;
  margin: 1rem 0;
  &::after {
    content: ' ' attr(data-after);
    width: 100%;
    position: absolute;
    bottom: -1.2rem;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    color: $clr-gray-text;
  }
}
